<h1>Registrations</h1>

<% form_tag registrations_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
      <th>Locker Number</th>
      <th></th>
      <th></th>
  </thead>
  <thead>
    <tr>
      <% for registration in @registrations %>
      <th><%= link_to registration.lockerNumber, registrations_path(registration) %></th>
      <th>F<%= link_to "Edit", edit_registration_path(registration) %></th>
      <th><%= link_to "Destroy", registrations_path(registration), :method => :delete %></th>
    </tr>
    <% end %>
  </thread>

<ul>
  <li>
<% for registration in @registrations %>
<%= link_to registration.lockerNumber, registrations_path(registration) %>
<%= link_to "Edit", edit_registration_path(registration) %>
<%= link_to "Destroy", registrations_path(registration), :method => :delete %>
  </li> 
  <% end %>
</ul>

<br>

<%= link_to 'New Registration', new_registration_path %>
