<p id="notice"><%= notice %></p>

<p>
  <strong>Numberofsemesters:</strong>
  <%= @registration.numberOfSemesters %>
</p>

<p>
  <strong>Termsaccepted:</strong>
  <%= @registration.termsAccepted %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
